**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/[Mm]emoryCaptures/
**/[Rr]ecordings/
**/.vs/
**/.idea/
**/.vscode/
**/.gradle/
**/ExportedObj/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties
**/Assets/StreamingAssets/aa/
**/Assets/AddressableAssetsData/*/link.xml*
**/Assets/AddressableAssetsData/*/*.bin*
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
*.keystore
*.jks
key.properties
**/Assets/Resources/PerformanceTestRunInfo.json*
**/Assets/Resources/PerformanceTestRunSettings.json*
